<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dreamdeck.irrigation.biz.mapper.DdGroupMapper">

    <resultMap id="baseResultMap" type="cn.dreamdeck.irrigation.api.vo.GroupVo">
        <result property="groupId" column="group_id"/>
        <result property="groupName" column="group_name"/>
    </resultMap>


    <select id="selectAll" resultMap="baseResultMap">
        SELECT
            group_id,
            group_name
        FROM
            dd_group
        WHERE
            del_flag = '0'
            <if test="type == 1">
                AND group_id  in (SELECT group_id FROM dd_district_group )
            </if>
            <if test="type == 2">
                AND group_id not in (SELECT group_id FROM dd_district_group )
            </if>
        ORDER BY
            create_time DESC
    </select>


</mapper>
